// Variable
$primaryColor: #f97f29;
$textColor: #19283f;
$themeColor: #ffffff;

// Widths and heights
$navWidth: 6rem;
$navMaxWidth: 16rem;

$topHeight: 10rem;
$bottomHeight: 6rem;

$dbChartWidth: 30%;
//img
$logo: 5rem;
$logoSize: $logo;

$avatar: 3rem;
$avatarSize: $avatar;
//btn
$btnHeight: 4rem;
$btnMinWidth: 10rem;

//Input
$inputMinWidth: 22rem;
$inputHeight: 3rem;

// border radius

$smallBr: 0.5rem;
$mediumBr: 1rem;
$largeBr: 1.5rem;
$circleBr: 50%;

//icon size :

$space-small: 0.4rem;
$space-medium: 0.8rem;
$space-large: 1.6rem;

//cards

$cardWith: 45rem;
$cardMinHeight: 30rem;
